# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/
backend/lifestyle.db
backend/.env

# Node
node_modules/
frontend/dist/
frontend/.env

# General
.DS_Store
.env
*.log
.claude
.ssh
lifestyle.db
backend/lifeos-e16fd-firebase-adminsdk-fbsvc-5eaf75a766.json
